In [1]:
# Dependencies
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Preprocessing the Patient Data file

In [2]:
# Name of the CSV file
file = '../Resources/2021VAERSDATA.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
data_df = pd.read_csv(file, encoding="ISO-8859-1", low_memory=False)

In [4]:
data_df.head()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916600,01/01/2021,TX,33.0,33.0,NaN,F,NaN,Right side of epiglottis swelled up and hinder...,NaN,...,None,None,NaN,NaN,2,01/01/2021,NaN,Y,NaN,Pcn and bee venom
1,916601,01/01/2021,CA,73.0,73.0,NaN,F,NaN,Approximately 30 min post vaccination administ...,NaN,...,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,NaN,NaN,2,01/01/2021,NaN,Y,NaN,"""Dairy"""
2,916602,01/01/2021,WA,23.0,23.0,NaN,F,NaN,"About 15 minutes after receiving the vaccine, ...",NaN,...,None,None,NaN,NaN,2,01/01/2021,NaN,NaN,Y,Shellfish
3,916603,01/01/2021,WA,58.0,58.0,NaN,F,NaN,"extreme fatigue, dizziness,. could not lift my...",NaN,...,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","got measles from measel shot, mums from mumps ...",NaN,2,01/01/2021,NaN,NaN,NaN,"Diclofenac, novacaine, lidocaine, pickles, tom..."
4,916604,01/01/2021,TX,47.0,47.0,NaN,F,NaN,"Injection site swelling, redness, warm to the ...",NaN,...,Na,NaN,NaN,NaN,2,01/01/2021,NaN,NaN,NaN,Na

In [5]:
data_df['STATE'].unique()

array(['TX', 'CA', 'WA', 'NV', 'KS', 'OH', 'TN', 'VA', 'NC', 'NY', 'GA',
       'NJ', 'LA', nan, 'IL', 'MD', 'ME', 'MA', 'MI', 'CT', 'FL', 'OK',
       'AR', 'ID', 'PA', 'IN', 'AZ', 'MN', 'NH', 'MO', 'CO', 'NE', 'UT',
       'DE', 'AL', 'MT', 'RI', 'MS', 'IA', 'AK', 'HI', 'WV', 'WI', 'NM',
       'OR', 'PR', 'KY', 'ND', 'SC', 'VT', 'DC', 'SD', 'WY', 'XB', 'VI',
       'Ca', 'GU', 'AS', 'MP', 'MH', 'FM'], dtype=object)

In [6]:
data_df.columns

Index(['VAERS_ID', 'RECVDATE', 'STATE', 'AGE_YRS', 'CAGE_YR', 'CAGE_MO', 'SEX',
       'RPT_DATE', 'SYMPTOM_TEXT', 'DIED', 'DATEDIED', 'L_THREAT', 'ER_VISIT',
       'HOSPITAL', 'HOSPDAYS', 'X_STAY', 'DISABLE', 'RECOVD', 'VAX_DATE',
       'ONSET_DATE', 'NUMDAYS', 'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY',
       'OTHER_MEDS', 'CUR_ILL', 'HISTORY', 'PRIOR_VAX', 'SPLTTYPE',
       'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT', 'OFC_VISIT', 'ER_ED_VISIT',
       'ALLERGIES'],
      dtype='object')

In [7]:
patient_data=data_df[['VAERS_ID', 'AGE_YRS', 'SEX', 'OTHER_MEDS', 'CUR_ILL', 'HISTORY', 'PRIOR_VAX', 'ALLERGIES']]
patient_data.head()

,VAERS_ID,AGE_YRS,SEX,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES
0,916600,33.0,F,None,None,None,NaN,Pcn and bee venom
1,916601,73.0,F,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,NaN,"""Dairy"""
2,916602,23.0,F,None,None,None,NaN,Shellfish
3,916603,58.0,F,none,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","got measles from measel shot, mums from mumps ...","Diclofenac, novacaine, lidocaine, pickles, tom..."
4,916604,47.0,F,Na,Na,NaN,NaN,Na

In [8]:
patient_data.duplicated(subset='VAERS_ID').sum()

0

In [9]:
patient_data['AGE_YRS'].isnull().sum()

3188

In [10]:
patient_data.dropna(subset = ['AGE_YRS'], inplace=True)

In [11]:
patient_data['SEX'].isnull().sum()

0

In [12]:
patient_data['OTHER_MEDS'] = patient_data['OTHER_MEDS'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['OTHER_MEDS'] = patient_data['OTHER_MEDS'].fillna(0)
patient_data['OTHER_MEDS'] = patient_data['OTHER_MEDS'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [13]:
patient_data['CUR_ILL'] = patient_data['CUR_ILL'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['CUR_ILL'] = patient_data['CUR_ILL'].fillna(0)
patient_data['CUR_ILL'] = patient_data['CUR_ILL'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [14]:
patient_data['HISTORY'] = patient_data['HISTORY'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['HISTORY'] = patient_data['HISTORY'].fillna(0)
patient_data['HISTORY'] = patient_data['HISTORY'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [15]:
patient_data['PRIOR_VAX'] = patient_data['PRIOR_VAX'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['PRIOR_VAX'] = patient_data['PRIOR_VAX'].fillna(0)
patient_data['PRIOR_VAX'] = patient_data['PRIOR_VAX'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [16]:
patient_data['ALLERGIES'] = patient_data['ALLERGIES'].replace(to_replace=['None', 'none', 'na', 'NA', 'Na'], value = 0)
patient_data['ALLERGIES'] = patient_data['ALLERGIES'].fillna(0)
patient_data['ALLERGIES'] = patient_data['ALLERGIES'].apply(lambda x: 1 if str(type(x))=="<class 'str'>" else x)

In [17]:
patient_data.head()

   VAERS_ID  AGE_YRS SEX  OTHER_MEDS  CUR_ILL  HISTORY  PRIOR_VAX  ALLERGIES
0    916600     33.0   F           0        0        0          0          1
1    916601     73.0   F           1        1        1          0          1
2    916602     23.0   F           0        0        0          0          1
3    916603     58.0   F           0        1        1          1          1
4    916604     47.0   F           0        0        0          0          0

In [18]:
patient_data = patient_data.loc[patient_data['SEX'] != 'U']

In [19]:
patient_sex = pd.get_dummies(patient_data['SEX'])
patient_sex

       F  M
0      1  0
1      1  0
2      1  0
3      1  0
4      1  0
...   .. ..
34115  0  1
34116  1  0
34117  1  0
34118  1  0
34119  0  1

[30760 rows x 2 columns]

In [20]:
patient_features = pd.merge(
    left=patient_data,
    right=patient_sex,
    left_index=True,
    right_index=True,
)
patient_features.drop(['SEX'], axis = 1, inplace = True)
patient_features

,VAERS_ID,AGE_YRS,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,F,M
0,916600,33.0,0,0,0,0,1,1,0
1,916601,73.0,1,1,1,0,1,1,0
2,916602,23.0,0,0,0,0,1,1,0
3,916603,58.0,0,1,1,1,1,1,0
4,916604,47.0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
34115,1113916,85.0,0,0,1,0,0,0,1
34116,1113917,88.0,0,0,1,0,0,1,0
34117,1113920,83.0,1,0,1,0,0,1,0
34118,1113963,59.0,0,0,1,0,0,1,0
34119,1115045,57.0,0,0,1,0,0,0,1

# Preprocessing the Symptoms file

In [21]:
# Name of the CSV file
file2 = '../Resources/2021VAERSSYMPTOMS.csv'

In [22]:
# The correct encoding must be used to read the CSV in pandas
symptoms_df = pd.read_csv(file2, encoding="ISO-8859-1", low_memory=False)

In [23]:
symptoms_df

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
0,916600,Dysphagia,23.1,Epiglottitis,23.1,NaN,NaN,NaN,NaN,NaN,NaN
1,916601,Anxiety,23.1,Dyspnoea,23.1,NaN,NaN,NaN,NaN,NaN,NaN
2,916602,Chest discomfort,23.1,Dysphagia,23.1,Pain in extremity,23.1,Visual impairment,23.1,NaN,NaN
3,916603,Dizziness,23.1,Fatigue,23.1,Mobility decreased,23.1,NaN,NaN,NaN,NaN
4,916604,Injection site erythema,23.1,Injection site pruritus,23.1,Injection site swelling,23.1,Injection site warmth,23.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
48105,1113920,Nasal discomfort,23.1,Night sweats,23.1,Platelet count,23.1,Platelet count decreased,23.1,Pyrexia,23.1
48106,1113920,Rash,23.1,SARS-CoV-2 test,23.1,NaN,NaN,NaN,NaN,NaN,NaN
48107,1113963,Haemophagocytic lymphohistiocytosis,23.1,SARS-CoV-2 test,23.1,NaN,NaN,NaN,NaN,NaN,NaN
48108,1115045,Death,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48109,1115348,Death,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
symptoms_df.columns

Index(['VAERS_ID', 'SYMPTOM1', 'SYMPTOMVERSION1', 'SYMPTOM2',
       'SYMPTOMVERSION2', 'SYMPTOM3', 'SYMPTOMVERSION3', 'SYMPTOM4',
       'SYMPTOMVERSION4', 'SYMPTOM5', 'SYMPTOMVERSION5'],
      dtype='object')

In [25]:
symptoms_df=symptoms_df[['VAERS_ID', 'SYMPTOM1', 'SYMPTOM2', 'SYMPTOM3', 'SYMPTOM4', 'SYMPTOM5']]
symptoms_df

,VAERS_ID,SYMPTOM1,SYMPTOM2,SYMPTOM3,SYMPTOM4,SYMPTOM5
0,916600,Dysphagia,Epiglottitis,NaN,NaN,NaN
1,916601,Anxiety,Dyspnoea,NaN,NaN,NaN
2,916602,Chest discomfort,Dysphagia,Pain in extremity,Visual impairment,NaN
3,916603,Dizziness,Fatigue,Mobility decreased,NaN,NaN
4,916604,Injection site erythema,Injection site pruritus,Injection site swelling,Injection site warmth,NaN
...,...,...,...,...,...,...
48105,1113920,Nasal discomfort,Night sweats,Platelet count,Platelet count decreased,Pyrexia
48106,1113920,Rash,SARS-CoV-2 test,NaN,NaN,NaN
48107,1113963,Haemophagocytic lymphohistiocytosis,SARS-CoV-2 test,NaN,NaN,NaN
48108,1115045,Death,NaN,NaN,NaN,NaN
48109,1115348,Death,NaN,NaN,NaN,NaN

In [26]:
symptom1_df = symptoms_df[['VAERS_ID', 'SYMPTOM1']]
symptom1_df = symptom1_df.rename(columns = {'SYMPTOM1': 'SYMPTOM'})
symptom2_df = symptoms_df[['VAERS_ID', 'SYMPTOM2']]
symptom2_df = symptom1_df.rename(columns = {'SYMPTOM2': 'SYMPTOM'})
symptom3_df = symptoms_df[['VAERS_ID', 'SYMPTOM3']]
symptom3_df = symptom1_df.rename(columns = {'SYMPTOM3': 'SYMPTOM'})
symptom4_df = symptoms_df[['VAERS_ID', 'SYMPTOM4']]
symptom4_df = symptom1_df.rename(columns = {'SYMPTOM4': 'SYMPTOM'})
symptom5_df = symptoms_df[['VAERS_ID', 'SYMPTOM5']]
symptom5_df = symptom1_df.rename(columns = {'SYMPTOM5': 'SYMPTOM'})

In [27]:
all_symptoms = symptom1_df.append(symptom2_df).reset_index(drop=True)
all_symptoms = all_symptoms.append(symptom3_df).reset_index(drop = True)
all_symptoms = all_symptoms.append(symptom4_df).reset_index(drop = True)
all_symptoms = all_symptoms.append(symptom5_df).reset_index(drop = True)
all_symptoms.head(50)

    VAERS_ID                     SYMPTOM
0     916600                   Dysphagia
1     916601                     Anxiety
2     916602            Chest discomfort
3     916603                   Dizziness
4     916604     Injection site erythema
5     916606         Pharyngeal swelling
6     916607              Abdominal pain
7     916608                   Diarrhoea
8     916609   Vaccination site erythema
9     916610                        Rash
10    916611    Blood pressure decreased
11    916611                    Dyspnoea
12    916611        Heart rate decreased
13    916611                      Nausea
14    916611    SARS-CoV-2 antibody test
15    916613        Abdominal pain upper
16    916614    Blood pressure increased
17    916615     Injection site erythema
18    916617                      Chills
19    916618         Injection site pain
20    916619         Injection site pain
21    916620                  Arthralgia
22    916620                      Nausea
23    916621                      Chills
24    916622                    Headache
25    916622                      Nausea
26    916623         Injection site pain
27    916624   Injection site induration
28    916625                      Chills
29    916625                      Tremor
30    916626                    Erythema
31    916627     Injection site erythema
32    916628                       Cough
33    916629                    Asthenia
34    916630     Injection site erythema
35    916631                      Chills
36    916631           Pain in extremity
37    916632        Abdominal pain upper
38    916632   Consciousness fluctuating
39    916632                   Hypotonia
40    916632                    Vomiting
41    916633                    Headache
42    916634                   Back pain
43    916635     Injection site swelling
44    916636                      Chills
45    916636                   Hot flush
46    916637  Body temperature increased
47    916638               Hypoaesthesia
48    916639                    Flushing
49    916640                  Arthralgia

In [28]:
all_symptoms.count()

VAERS_ID    240550
SYMPTOM     240550
dtype: int64

In [29]:
all_symptoms['SYMPTOM'].nunique()

2431

In [30]:
all_symptoms.groupby(all_symptoms['SYMPTOM']).count().sort_values('VAERS_ID', ascending=False).head(50)

                            VAERS_ID
SYMPTOM
Chills                         16170
Arthralgia                      9690
Headache                        7410
Dizziness                       7225
Injection site erythema         7060
Fatigue                         6870
Asthenia                        5600
Pyrexia                         5270
Death                           4880
COVID-19                        4280
Erythema                        3940
Pain                            3740
Nausea                          3340
Pain in extremity               3165
Injection site pain             2645
Myalgia                         2395
Rash                            2315
Dyspnoea                        2255
Pruritus                        2235
Chest discomfort                2070
Diarrhoea                       1985
Hypoaesthesia                   1780
Blood pressure increased        1765
SARS-CoV-2 test positive        1740
Vomiting                        1740
Abdominal pain                  1730
Anxiety                         1665
Cough                           1645
Body temperature increased      1630
Back pain                       1625
Chest pain                      1415
Lymphadenopathy                 1390
Abdominal pain upper            1345
Blood test                      1325
Paraesthesia                    1285
Body temperature                1265
Abdominal discomfort            1245
Anaphylactic reaction           1235
Axillary pain                   1225
Urticaria                       1175
Malaise                         1080
Condition aggravated            1050
Ageusia                         1015
Feeling abnormal                 975
Flushing                         895
Facial paralysis                 875
SARS-CoV-2 test negative         875
Feeling hot                      825
Burning sensation                825
Injection site swelling          780

# Preprocessing the Vaccine file

In [31]:
# Name of the CSV file
vaccinefile = '../Resources/2021VAERSVAX.csv'

In [32]:
# The correct encoding must be used to read the CSV in pandas
vaccine = pd.read_csv(vaccinefile, encoding="ISO-8859-1", low_memory=False)

In [33]:
vaccine.columns

Index(['VAERS_ID', 'VAX_TYPE', 'VAX_MANU', 'VAX_LOT', 'VAX_DOSE_SERIES',
       'VAX_ROUTE', 'VAX_SITE', 'VAX_NAME'],
      dtype='object')

In [34]:
vaccine_df = vaccine[['VAERS_ID', 'VAX_NAME', 'VAX_DOSE_SERIES', 'VAX_SITE']]
vaccine_df.head()

   VAERS_ID                             VAX_NAME VAX_DOSE_SERIES VAX_SITE
0    916600          COVID19 (COVID19 (MODERNA))               1       LA
1    916601          COVID19 (COVID19 (MODERNA))               1       RA
2    916602  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
3    916603          COVID19 (COVID19 (MODERNA))             UNK      NaN
4    916604          COVID19 (COVID19 (MODERNA))               1       LA

In [35]:
vaccine_df['VAX_NAME'].unique()

array(['COVID19 (COVID19 (MODERNA))',
       'COVID19 (COVID19 (PFIZER-BIONTECH))',
       'VACCINE NOT SPECIFIED (NO BRAND NAME)',
       'INFLUENZA (SEASONAL) (FLUZONE HIGH-DOSE QUADRIVALENT)',
       'DTAP + HEPB + IPV (PEDIARIX)', 'HIB (ACTHIB)',
       'ROTAVIRUS (ROTARIX)', 'VACCINE NOT SPECIFIED (OTHER)',
       'INFLUENZA (SEASONAL) (AFLURIA QUADRIVALENT)',
       'INFLUENZA (SEASONAL) (NO BRAND NAME)', 'HEP B (NO BRAND NAME)',
       'MEASLES + MUMPS + RUBELLA (MMR II)', 'ZOSTER (SHINGRIX)',
       'DTAP (NO BRAND NAME)', 'ZOSTER (NO BRAND NAME)',
       'PNEUMO (PNEUMOVAX)', 'HPV (GARDASIL 9)', 'ZOSTER LIVE (ZOSTAVAX)',
       'CHOLERA (NO BRAND NAME)', 'DT ADSORBED (NO BRAND NAME)',
       'TETANUS TOXOID (NO BRAND NAME)', 'INFLUENZA (SEASONAL) (FLUZONE)',
       'INFLUENZA (SEASONAL) (FLUCELVAX)',
       'INFLUENZA (SEASONAL) (FLUCELVAX QUADRIVALENT)',
       'HEP B (ENGERIX-B)', 'INFLUENZA (SEASONAL) (FLUZONE QUADRIVALENT)',
       'PNEUMO (PREVNAR13)',
       'INFLUENZA (SEASONAL) (FLUBLOK QUADRIVALENT)',
       'MENINGOCOCCAL CONJUGATE (MENVEO)',
       'MENINGOCOCCAL CONJUGATE (MENACTRA)', 'HPV (GARDASIL)',
       'TDAP (NO BRAND NAME)', 'INFLUENZA (SEASONAL) (FLUAD)',
       'TDAP (ADACEL)', 'HEP A (VAQTA)', 'VARICELLA (VARIVAX)',
       'DTAP (DAPTACEL)', 'INFLUENZA (SEASONAL) (FLUAD QUADRIVALENT)',
       'HEP B (RECOMBIVAX HB)',
       'INFLUENZA (SEASONAL) (FLUARIX QUADRIVALENT)',
       'PNEUMO (NO BRAND NAME)', 'COVID19 (COVID19 (UNKNOWN))',
       'ANTHRAX (BIOTHRAX)', 'POLIO VIRUS, INACT. (IPOL)',
       'TYPHOID VI POLYSACCHARIDE (TYPHIM VI)', 'HEP A (HAVRIX)',
       'HPV (NO BRAND NAME)',
       'INFLUENZA (SEASONAL) (FLULAVAL QUADRIVALENT)',
       'DTP (NO BRAND NAME)', 'INFLUENZA (SEASONAL) (FLUZONE HIGH-DOSE)',
       'DTAP + IPV + HIB (PENTACEL)', 'ROTAVIRUS (ROTATEQ)',
       'MENINGOCOCCAL B (TRUMENBA)', 'HEP B (HEPLISAV-B)',
       'TDAP (BOOSTRIX)', 'DTAP (INFANRIX)', 'HIB (PEDVAXHIB)',
       'RABIES (RABAVERT)', 'MENINGOCOCCAL B (BEXSERO)',
       'INFLUENZA (SEASONAL) (FLUMIST QUADRIVALENT)', 'PNEUMO (PREVNAR)',
       'TYPHOID LIVE ORAL TY21A (VIVOTIF)', 'COVID19 (COVID19 (JANSSEN))',
       'POLIO VIRUS, ORAL (NO BRAND NAME)', 'YELLOW FEVER (YF-VAX)'],
      dtype=object)

In [36]:
covid_vaccines = ['COVID19 (COVID19 (MODERNA))', 'COVID19 (COVID19 (PFIZER-BIONTECH))', 'COVID19 (COVID19 (JANSSEN))'] 
    
# selecting rows based on conditions
covid_vaccine_df= vaccine_df[vaccine_df['VAX_NAME'].isin(covid_vaccines)]

In [37]:
covid_vaccine_df['VAX_NAME'].unique()

array(['COVID19 (COVID19 (MODERNA))',
       'COVID19 (COVID19 (PFIZER-BIONTECH))',
       'COVID19 (COVID19 (JANSSEN))'], dtype=object)

In [38]:
covid_vaccine_df.head(20)

    VAERS_ID                             VAX_NAME VAX_DOSE_SERIES VAX_SITE
0     916600          COVID19 (COVID19 (MODERNA))               1       LA
1     916601          COVID19 (COVID19 (MODERNA))               1       RA
2     916602  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
3     916603          COVID19 (COVID19 (MODERNA))             UNK      NaN
4     916604          COVID19 (COVID19 (MODERNA))               1       LA
5     916606          COVID19 (COVID19 (MODERNA))               1       LA
6     916607          COVID19 (COVID19 (MODERNA))             UNK       LA
7     916608          COVID19 (COVID19 (MODERNA))               1       LA
8     916609          COVID19 (COVID19 (MODERNA))               1       LA
9     916610          COVID19 (COVID19 (MODERNA))               1       LA
10    916611          COVID19 (COVID19 (MODERNA))               1       RA
11    916613          COVID19 (COVID19 (MODERNA))               1       LA
12    916614          COVID19 (COVID19 (MODERNA))               1       LA
13    916615          COVID19 (COVID19 (MODERNA))               1       LA
14    916617  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
15    916618          COVID19 (COVID19 (MODERNA))               1       LA
16    916619  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
17    916620          COVID19 (COVID19 (MODERNA))               1       LA
18    916621          COVID19 (COVID19 (MODERNA))               1       LA
19    916622          COVID19 (COVID19 (MODERNA))               1       LA

In [39]:
covid_vaccine_df['VAX_SITE'].isnull().sum()

7619

In [40]:
covid_vaccine_df.dropna(subset = ['VAX_SITE'], inplace=True)

In [41]:
covid_vaccine_df['VAX_DOSE_SERIES'].isnull().sum()

50

In [42]:
covid_vaccine_df['VAX_DOSE_SERIES'].unique()

array(['1', 'UNK', '3', '2', '5', nan, '7+', '4', '6'], dtype=object)

In [43]:
covid_vaccine_df.groupby('VAX_DOSE_SERIES').count()

                 VAERS_ID  VAX_NAME  VAX_SITE
VAX_DOSE_SERIES
1                   19157     19157     19157
2                    5202      5202      5202
3                      40        40        40
4                       5         5         5
5                       6         6         6
6                       6         6         6
7+                     20        20        20
UNK                  2051      2051      2051

In [44]:
# selecting rows based on conditions
covid_vaccine_df=covid_vaccine_df[covid_vaccine_df['VAX_DOSE_SERIES'].isin(['1','2'])] 
covid_vaccine_df.head()

   VAERS_ID                             VAX_NAME VAX_DOSE_SERIES VAX_SITE
0    916600          COVID19 (COVID19 (MODERNA))               1       LA
1    916601          COVID19 (COVID19 (MODERNA))               1       RA
2    916602  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
4    916604          COVID19 (COVID19 (MODERNA))               1       LA
5    916606          COVID19 (COVID19 (MODERNA))               1       LA

In [45]:
covid_vaccine_df.groupby('VAX_SITE').count()

          VAERS_ID  VAX_NAME  VAX_DOSE_SERIES
VAX_SITE
AR             573       573              573
GM               3         3                3
LA           16752     16752            16752
LG               2         2                2
LL              16        16               16
OT              13        13               13
RA            6510      6510             6510
RL               6         6                6
UN             484       484              484

In [46]:
# selecting rows based on conditions
final_covid_vaccine_df=covid_vaccine_df[covid_vaccine_df['VAX_SITE'].isin(['LA','RA'])] 
final_covid_vaccine_df.head()

   VAERS_ID                             VAX_NAME VAX_DOSE_SERIES VAX_SITE
0    916600          COVID19 (COVID19 (MODERNA))               1       LA
1    916601          COVID19 (COVID19 (MODERNA))               1       RA
2    916602  COVID19 (COVID19 (PFIZER-BIONTECH))               1       LA
4    916604          COVID19 (COVID19 (MODERNA))               1       LA
5    916606          COVID19 (COVID19 (MODERNA))               1       LA

In [47]:
final = pd.get_dummies(final_covid_vaccine_df)
final

,VAERS_ID,VAX_NAME_COVID19 (COVID19 (JANSSEN)),VAX_NAME_COVID19 (COVID19 (MODERNA)),VAX_NAME_COVID19 (COVID19 (PFIZER-BIONTECH)),VAX_DOSE_SERIES_1,VAX_DOSE_SERIES_2,VAX_SITE_LA,VAX_SITE_RA
0,916600,0,1,0,1,0,1,0
1,916601,0,1,0,1,0,0,1
2,916602,0,0,1,1,0,1,0
4,916604,0,1,0,1,0,1,0
5,916606,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...
34619,1112743,0,1,0,0,1,1,0
34620,1112773,0,1,0,1,0,1,0
34621,1112825,0,1,0,1,0,1,0
34622,1113563,0,1,0,0,1,1,0
34629,1115348,0,1,0,1,0,1,0

In [48]:
final.rename(columns = {'VAX_NAME_COVID19 (COVID19 (JANSSEN))':'JANSSEN', 'VAX_NAME_COVID19 (COVID19 (MODERNA))':'MODERNA', 'VAX_NAME_COVID19 (COVID19 (PFIZER-BIONTECH))': 'PFIZER'}, inplace = True)

In [49]:
final

,VAERS_ID,JANSSEN,MODERNA,PFIZER,VAX_DOSE_SERIES_1,VAX_DOSE_SERIES_2,VAX_SITE_LA,VAX_SITE_RA
0,916600,0,1,0,1,0,1,0
1,916601,0,1,0,1,0,0,1
2,916602,0,0,1,1,0,1,0
4,916604,0,1,0,1,0,1,0
5,916606,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...
34619,1112743,0,1,0,0,1,1,0
34620,1112773,0,1,0,1,0,1,0
34621,1112825,0,1,0,1,0,1,0
34622,1113563,0,1,0,0,1,1,0
34629,1115348,0,1,0,1,0,1,0

# Merging the files together

In [51]:
merged_df = all_symptoms.merge(patient_features, how = 'left')
merged_df

,VAERS_ID,SYMPTOM,AGE_YRS,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,F,M
0,916600,Dysphagia,33.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,916601,Anxiety,73.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
2,916602,Chest discomfort,23.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,916603,Dizziness,58.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
4,916604,Injection site erythema,47.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
240545,1113920,Nasal discomfort,83.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
240546,1113920,Rash,83.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
240547,1113963,Haemophagocytic lymphohistiocytosis,59.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
240548,1115045,Death,57.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
240549,1115348,Death,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
merged_df2 = merged_df.merge(final, how = 'left')

In [53]:
merged_df2.dropna(axis=0, how = 'any', inplace = True)
merged_df2

,VAERS_ID,SYMPTOM,AGE_YRS,OTHER_MEDS,CUR_ILL,HISTORY,PRIOR_VAX,ALLERGIES,F,M,JANSSEN,MODERNA,PFIZER,VAX_DOSE_SERIES_1,VAX_DOSE_SERIES_2,VAX_SITE_LA,VAX_SITE_RA
0,916600,Dysphagia,33.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,916601,Anxiety,73.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,916602,Chest discomfort,23.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,916604,Injection site erythema,47.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
5,916606,Pharyngeal swelling,44.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243066,1112773,Death,56.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
243070,1113563,Aphonia,70.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
243071,1113563,Dyspnoea,70.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
243072,1113563,Pain in extremity,70.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
243073,1113563,Tremor,70.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0

In [54]:
merged_df2 = pd.to_csv('../Resources/training_dataset.csv', index=False)

AttributeError: module 'pandas' has no attribute 'to_csv'